@page "/"
@using BlazorWasmApp.Shared

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<div class="alert alert-warning" role="alert">
    Before authentication will function correctly, you must configure your provider details in <code>Program.cs</code>
</div>

<iframe width="560" height="315" src="https://www.youtube.com/embed/mYbymhW5Yjo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<SurveyPromptComponent Title="How is Blazor working for you?" />
<EditForm Model="@_obj">
    <InputRichTextComponent @bind-Value="ModalTitle" />
</EditForm>

@code {
    private object _obj = new object();
    private string ModalTitle = "Modal title";
}